.customEditingToolbar {
    float: right;
    right: 0px;
    height: 30px; 
}
.customEditingToolbar div {
    float: right;
    margin: 5px;
    width: 24px;
    height: 24px;
}
.olControlNavigationItemActive { 
    background-image: url("http://www.openlayers.org/dev/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -103px -23px; 
}
.olControlNavigationItemInactive { 
    background-image: url("http://www.openlayers.org/dev/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -103px -0px; 
}
.olControlDrawFeaturePointItemInactive { 
    background-image: url("http://www.openlayers.org/dev/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -77px 0px; 
}
.olControlDrawFeaturePointItemActive { 
    background-image: url("http://www.openlayers.org/dev/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -77px -23px ;                                                                   
}
.olControlModifyFeatureItemActive { 
    background-image: url(http://www.openlayers.org/dev/theme/default/img/move_feature_on.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.olControlModifyFeatureItemInactive { 
    background-image: url(http://www.openlayers.org/dev/theme/default/img/move_feature_off.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.olControlDeleteFeatureItemActive { 
    background-image: url(http://www.openlayers.org/dev/theme/default/img/remove_point_on.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.olControlDeleteFeatureItemInactive { 
    background-image: url(http://www.openlayers.org/dev/theme/default/img/remove_point_off.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}